doctype html
html
  head
    // The title of the webpage, dynamically set using the 'title' variable
    title= title
    
    // Linking to an external stylesheet
    link(rel='stylesheet', href='/stylesheets/style.css')
    
    // Setting the viewport for responsive design
    meta(name="viewport", content="width=device-width, initial-scale=1")
  
  body
    // The main content of the webpage will be inserted here using blocks
    block content

    script.
      document.addEventListener('DOMContentLoaded', () => {
        const container = document.querySelector('.message-list');
        container.scrollTop = container.scrollHeight;
      })
